.carousel-item img{
    width: 100%;
    height: 500px;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.sub-heading{
    padding-top: 30px;
}
.form{
    padding-top: 30px;
}
.table{
    padding-top: 30px;
}